* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: #f2f2f2;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background: #111;
    color: white;
}

.navbar ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.navbar a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* HERO SECTION */
.hero {
    height: 90vh;
    background: url('https://images.unsplash.com/photo-1522199710521-72d69614c702?auto=format&fit=crop&w=1350&q=80') no-repeat center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.hero-text h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.hero-text p {
    font-size: 20px;
    margin-bottom: 20px;
}

.btn {
    padding: 12px 25px;
    background: #ff9800;
    color: white;
    border-radius: 5px;
    text-decoration: none;
    font-size: 18px;
}

/* FEATURES */
.features {
    text-align: center;
    padding: 60px 20px;
    background: #fff;
}

.feature-box {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background: #ff9800;
    padding: 30px;
    border-radius: 10px;
    width: 250px;
    color: white;
}

/* ABOUT */
.about {
    padding: 50px;
    text-align: center;
    background: #ffe0b2;
}

/* FOOTER */
footer {
    background: #111;
    color: white;
    text-align: center;
    padding: 30px;
}
